.mainbox
{
  position:relative;
  height: 300px;
  border-radius: 25px;
  border-style: dashed;
  border-width: thin;
}
.box
{
  background-color:white;
  width: 200px;
  height:300px;
  border-radius: 25px;
  border-style:dashed;
  border-width: thin;

}
.one
{
  position:absolute;
  left:0px;
  top:0px;
 /* top: -300px;*/
}
.infobox
{
  position:absolute;
  top:5px;
  left:5px;
  float:center;
  border-style:dashed;
  border-width: thin;
  border-radius: 25px;
}
h1
{
   font-size: 15px;
   text-align: left;
}
.two
{
  position:relative;
  float:right;
  top:0px;
}

.title
{
  font-size: 30px;
  text-align: center;
}
.titlebox
{
  border-style:dashed;
  border-width: thin;
  border-radius: 25px;
}
body
{
  background-image: url('picturescss/OzadjeStaticMain.png');
  background-repeat: no-repeat;
