/*globalni stilyng*/
body {
  background-color: #add9db;
  display: flex;
  flex-direction: column;
}
/*globalni stil za vso besedilo razen naslov*/
.infoText{
  font-family: Arial, Helvetica, sans-serif;
  font-size:100%;
  font-weight:bold;
  margin-right: 5px;
}
/*globalni stil za naslovni okvir in njegove elemente*/
.naslovniOkvir{
  display:flex;
}
.gumbBarva{
  outline: inherit;
  border-style: solid;
  border-radius: 10px;
  background-color: white;

}
.naslov {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: white;
}
/*globalni stil za zunanji, notranji okvir in njegove elemente*/
.zunanjiOkvir{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
}
.notranjiOkvir{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background-color: white;
  width: 90%;
  height: 100%;
  border-style: solid;
  border-radius: 15px;
  margin: 15px;
}
.ena{
  flex-flow: column flow;
  align-content: space-evenly;
}
.srceContainer {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.containerStil{
  display:flex;
  align-items:center;
}

/*telefoni in majhni zasloni*/
@media only screen and (max-width: 500px) {
  .naslovniOkvir {
    flex-direction: column;
    align-items: center;
  }
  .naslov {
    text-align: center;
  }
  .gumbBarva {
    width: 20%;
  }
  .notranjiOkvir {
    min-height: 300px;
  }
  /*Prvi okvir za informacijam*/
  .ena {
    height: 100%;
  }
  .containerStil {
    height: 60px;
    margin: 1%;
  }
  .slikaSrce {
    height:inherit;
  }
  .informativnaSvetilka {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: greenyellow;
  }
  .vlagaContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .temperaturaContainer {
    display: flex;
  }
  .kakovostContainer {
    display: flex;
  }
  .zalivanjeContainer {
    display: flex;
  }
  .gumbZalivanje {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: none;
    background-color: gray;
    margin-left: 5px;
    outline: inherit;
  }
}

/*tablice in zasloni srednjih velikosti*/
@media only screen and (min-width: 500px) {
  .infoText {
    margin: 5px;
    font-family: arial;
    font-size: auto;
  }
  .naslovniOkvir {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
  }
  .naslov {
    text-align: left;
    flex-basis: 80%;
  }
  .gumbBarva {
    height: 100px;
    flex-basis: 20%;
  }
  .zunanjiOkvir {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    flex-flow: wrap;
  }
  .notranjiOkvir {
    background-color: white;
    flex-basis: 100%;
    min-height: 300px;
    border-style: solid;
    border-radius: 15px;
    margin: 5%;
  }
  .ena {
    flex-basis: 30%;
  }
  .srceContainer {
    flex-basis: 100%;
    height: 70px;
    flex-flow: row wrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .slikaSrce {
    height: 100%;
  }
  .informativnaSvetilka {
    background-color: greenyellow;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .vlagaContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .temperaturaContainer {
    display: flex;
  }
  .kakovostContainer {
    display: flex;
  }
  .zalivanjeContainer {
    display: flex;
    align-items: center;
  }
  .gumbZalivanje {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: inherit;
    border-style: none;
    background-color: gray;
  }

  .dve {
    border-style: solid;
    flex-basis: 30%;
  }
  .tri {
    border-style: solid;
    flex-basis: 80%;
  }
}

/*računalniki in zasloni širokih velikosti*/
@media only screen and (min-width: 900px) {
  body {
    background-color: grey;
  }
}
